/* highlight and ban proportions */
.predict-highlight-menu-option {
	width: 24px;
}


/* reconcile */
.reconcile-button {
	width:18px;
	height:15px;
	margin-left:-4px
}

.full-medal {
	fill:gold
}

.big .reconcile-button {
	width:24px;
	height:19px;
}

/* Mechanism to highlight medal */
.predict-highlight-menu-option.empty-medal {
	display: block;
}
.predict-highlight-menu-option.full-medal {
	display: none;
}
.highlighted .predict-highlight-menu-option.empty-medal {
	display: none;
}
.highlighted .predict-highlight-menu-option.full-medal {
	display: block;
}