.vote-button, .reconcile-button{
	background: none;
	border:none;
	vertical-align: text-bottom;
	padding:0;
	position:relative;
	cursor: pointer;
}

.vote-button {
	width:14px;
	height:16px;
	margin-left: 6px;
}

.reconcile-button {
	width:18px;
	height:15px;
	margin-left:-4px
}

.big .reconcile-button {
	width:24px;
	height:19px;
}

#highlight-button {
	width: 16px;
}

.vote-button svg {
	color:#757575;
	vertical-align: bottom;
}
